<form [formGroup]="registerForm" action="">
  <div class="input-div">
    <span>Email</span>
    <input type="text" formControlName="email" />
  </div>
  <div class="input-div">
    <span>Firstname</span>
    <input type="text" formControlName="firstName" />
  </div>
  <div class="input-div">
    <span>Secondname</span>
    <input type="text" formControlName="secondName" />
  </div>
  <div class="input-div">
    <span>Password</span>
    <input type="text" formControlName="password" />
  </div>

  <button [disabled]="registerForm.invalid" (click)="submitRegisterForm()">
    Register
  </button>
</form>
