:host{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.userInfo{
    padding-left: 15px;
    height: 100px;
    width: 200px;
}

.posts{ 
    display: grid;
    grid-auto-rows: 50px;
    // height: ;
}

.post {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 50px;
}