<form [formGroup]="loginForm">
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input type="text" formControlName="email" matInput />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input type="password" formControlName="password" matInput />
  </mat-form-field>

  <span *ngIf="error$ | async as error" [style]="{ color: 'red' }">
    {{ error }}
  </span>
  <button
    mat-raised-button
    [disabled]="loginForm.invalid"
    (click)="submitLoginForm()"
  >
    Login
  </button>
  <button mat-raised-button routerLink="/auth/register">register</button>
</form>
